@{
ViewData["Title"] = "Welcome";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to  our Online Library</h1>
            <hr>
            <p class="text-center">We are delighted to have you here. Please feel free to browse our site and learn more about our products and services.</p>
            <div class="text-center">
                <a href="/Book/List" class="btn btn-primary">View our Books</a>
            </div>
        </div>
    </div>
</div